@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}


body {
    font-family: 'Roboto', sans-serif;
    background: #333;
    color: #fff;
    overflow-x: hidden;
}

p {
    line-height: 1.5;
}
.navbar {
    border-bottom: #008ed6 1px solid;
    opacity: 0.9;
}

#home-section {
    background: url('/img/puente_zarate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
padding-top: 150px;
}

.green-font {
    color: #18963a;
}

.black-font {
    color: #333;
}

.scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none;
  }
  
.scroll-to-top a {
width: 3.5rem;
height: 3.5rem;
background-color: rgba(33, 37, 41, 0.5);
line-height: 3.1rem;
}

@media screen and (max-width: 320px) {
    .heading-responsive {
        font-size: 25px;
    }

    .button-block {
        margin-top: 20px;
        width: 55%;
    }

    #home-section, #home-section .dark-overlay {
        min-height: 80vh;
    }

    
}

@media screen and (min-width:321px) and  (max-width: 576px) {
    .heading-responsive {
        font-size: 40px;
    }

    .button-block {
        margin-top: 20px;
        width: 50%;
        height: 70%;
        padding-bottom: 10px;
    }

    #home-section, #home-section .dark-overlay {
        min-height: 100vh;
    }
}


@media screen and (min-width:576px) and  (max-width: 768px) {
    .heading-responsive {
        font-size: 40px;
    }

    .button-block {
        margin-top: 20px;
        width: 50%;
        height: 70%;
    }

    #home-section {
        min-height: 100vh;
    }

    .dark-overlay {
        height: 90vh;
    }
}

@media screen and (min-width:769px) and  (max-width: 992px) {
    .heading-responsive {
        font-size: 60px;
    }

    #home-section, #home-section .dark-overlay {
        min-height: 100vh;
    }
}

